.benefits {
  width: @max;
  padding: 0 20px;
  padding-top: 65px;
  padding-bottom: 105px;
  margin: 0 auto;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 100px;
  padding-top: 20px;
}

.benefits__item {
  color: @dark;
  font-size: 30px;
  font-weight: 700;
  padding-top: 80px;
  position: relative;
  letter-spacing: 1px;
  
  span {
    color: @green;
  }
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
  }
  
  &:first-child::before {
    background-image: url(../img/icon-coins.png);
  }
  
  &:nth-child(2)::before {
    background-image: url(../img/icon-clock.png);
  }
  
  &:nth-child(3)::before {
    background-image: url(../img/icon-chain.png);
  }
}

.benefits__text {
  text-align: center;
  margin-top: 40px;
  letter-spacing: 1px;
}
